:root {
  /* Theme Colors */
  --green: #00B488;
  --red: #C82021;
  --blue: #4fa2bc;
  --orange: #d25f13;
  --yellow: #fad437;

  /* Neutral Tones */
  --lbeige: #ddd7c7;
  --dbeige: #ac9e79;
  --black: #222222;

  --grey: #666666;
  --mgrey: #999999;
  --dgrey: #111111;
  --lgrey: #777777;

  --dark: #1d1d1d;
  --vapor: #f7f7f7;
  --light: #aeaeae;

  /* System Colors */
  --system-message: rgba(32, 163, 255, 0.8);
  --system-error: rgba(255, 112, 112, 0.85);

  /* Compound Colors */
  --darkglass: rgba(69,96,115,0.7);

  /* Site Colors */
  --site-bg: #fff;
  --site-fg: #fff;
  --site-link: var(--blue);
  --site-text: var(--grey);
  --site-primary-accent: var(--yellow);
  --site-secondary-accent: var(--green);
  --site-warning-accent: var(--red);

  /* Core Colors */
  --bg-color: var(--site-bg);
  --fg-color: var(--site-fg);
  --text-color: var(--site-text);
  --link-color: var(--site-link);
  --link-hover: var(--site-link);
  --primary-color: var(--site-primary-accent);
  --secondary-color: var(--site-secondary-accent);
  --warning-color: var(--site-warning-accent);
}

.red {
  color: var(--red);
}

.green {
  color: var(--green);
}

.blue {
  color: var(--blue);
}

.orange {
  background-color: var(--orange);
}

.white {
  color: #fff;
}

.bg-red {
  background-color: var(--red);
}

.bg-green {
  background-color: var(--green);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-orange {
  background-color: var(--orange);
}

:root {
  --boldsans: "", "Avenir", "Helvetica Neue", Arial, sans-serif;
  --sans: "", "Avenir", "Helvetica Neue", Arial, sans-serif;
  --blackserif: "", Georgia, Times, 'Times New Roman', serif;
  --serif: "", Georgia, Times, 'Times New Roman', serif;
  --body: "", "Avenir", "Helvetica Neue", Arial, sans-serif;
}

html, body {
  font-size: 16px;
}

body {
  border: 16px solid var(--primary-color);
  min-height: 100vh;
}

.row {
  max-width: 75rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--sans);
  font-weight: 600;
}

header {
  text-align: center;
  margin: 50px 0;
  border: 0;
  box-shadow: none;
  height: auto;
}

footer {
  margin: 0;
}

#primary-nav {
  display: flex;
  justify-content: center;
  align-content: center;
}

#primary-nav .menu li:hover {
  background: transparent;
}

#primary-nav .menu li a {
  padding: 18px 22px;
  color: var(--dark);
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 300;
  font-family: var(--serif);
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

#primary-nav .menu li a:hover {
  color: var(--link-color);
  background-color: transparent;
}

#nav-icon {
  cursor: pointer;
  position: absolute;
  width: 2rem;
  float: right;
  height: 2rem;
  padding: 5px 0 0 0;
  right: 5%;
}

#nav-icon.active + .menu {
  background: #fff;
  align-content: flex-start;
  justify-content: flex-start;
  border-left: 16px solid var(--primary-color);
  border-left: 16px solid var(--primary-color);
  width: calc(100vw - 32px);
  padding-top: 4rem;
}

#nav-icon.active + .menu li a {
  font-family: var(--sans);
  text-transform: capitalize;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1em;
  text-rendering: optimizeLegibility;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.btn {
  border-style: solid;
  border-width: 6px;
  cursor: pointer;
  font-family: var(--sans);
  font-weight: bold;
  line-height: 1;
  margin: 0 0 1em;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 0.6em;
  padding-right: 1.2em;
  padding-bottom: 0.65em;
  padding-left: 1.2em;
  font-size: 0.8em;
  background-color: #fff;
  color: var(--link-color);
}

.btn.btn--primary {
  border-color: var(--primary-color);
  background-color: #fff;
  color: var(--link-color);
}

.hero.is-light a.btn {
  color: var(--link-color) !important;
}
.media-feature--image-right .media-feature__image {
  max-width: 66%;
}

.bg-brand {
  background-image: linear-gradient(#ffffff,#fffff4);
  border-bottom: 1px solid #F3F3F3;
  padding: 0;
}

.second-column_content img {
  margin-bottom: 20px;
  text-align: center;
  clear: none;
  width: 23%;
}

.section.is-primary.has-background-primary {
  background-image: linear-gradient(#ffffff,#fffff4);
  border-bottom: 1px solid #F3F3F3;
  padding: 0;
}

.is-light.has-background-light.has-text-dark {
  background: #fefaea !important;
}

.is-dark.has-background-dark.has-text-dark {
  background: #edf6f8 !important;
}

.is-primary.has-background-primary a {
  color: var(--link-color);
}

.btn.btn--primary:hover {
  background: var(--primary-color);
  color: #fff;
}

.media-feature__content-title {
  line-height: 1.2;
}

.media-feature__content-copy {
  margin: 1rem 0;
  font-family: var(--sans);
  color: var(--dgrey) !important;
}
.section.testimonial {
  position: relative;
}

.side-menu {
  border-bottom: 8px solid #F2F2F2;
  list-style: none;
  margin: 0;
  margin-bottom: 0px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  line-height: 1.2;
}

.side-menu li a {
  display: block;
  padding: 8px 0;
  border-bottom: 2px solid #F2F2F2;
  font-size: 0.9em;
}



@media (min-width: 590px) {
}

@media (min-width: 980px) {

}

@media (min-width: 1180px) {

}