:root {
  // Theme Colors
  --green: #00B488;
  --red: #C82021;
  --blue: #005493;
  --orange: #d25f13;

  // Neutral Tones
  --lbeige: #ddd7c7;
  --dbeige: #ac9e79;
  --black: #333333;

  --grey: #666666;
  --mgrey: #999999;
  --dgrey: #111111;
  --lgrey: #777777;

  --dark: #1d1d1d;
  --vapor: #f7f7f7;
  --light: #aeaeae;

  // System Colors
  --system-message: rgba(32, 163, 255, 0.8);
  --system-error: rgba(255, 112, 112, 0.85);

  // Compound Colors
  --darkglass: rgba(69,96,115,0.7);

  // Site Colors
  --site-bg: #fff;
  --site-fg: #fff;
  --site-link: var(--blue);
  --site-text: var(--black);
  --site-primary-accent: var(--blue);
  --site-secondary-accent: var(--green);
  --site-warning-accent: var(--red);

  // Core Colors
  --bg-color: var(--site-bg);
  --fg-color: var(--site-fg);
  --text-color: var(--site-text);
  --link-color: var(--site-link);
  --link-hover: var(--site-link);
  --primary-color: var(--site-primary-accent);
  --secondary-color: var(--site-secondary-accent);
  --warning-color: var(--site-warning-accent);

  .red {
    color: var(--red);
  }

  .green {
    color: var(--green);
  }

  .blue {
    color: var(--blue);
  }

  .orange {
    background-color: var(--orange);
  }

  .white {
    color: #fff;
  }

  .bg-red {
    background-color: var(--red);
  }

  .bg-green {
    background-color: var(--green);
  }

  .bg-blue {
    background-color: var(--blue);
  }

  .bg-orange {
    background-color: var(--orange);
  }
}
