:root {
  --boldsans: "Open Sans", "Avenir", "Helvetica Neue", Arial, sans-serif;
  --sans: "Open Sans", "Avenir", "Helvetica Neue", Arial, sans-serif;
  --blackserif: "Domine", Georgia, Times, 'Times New Roman', serif;
  --serif: "Domine", Georgia, Times, 'Times New Roman', serif;
  --body: "Open Sans", "Avenir", "Helvetica Neue", Arial, sans-serif;
}
