{{ define "main" }}
{{/*
  This template is the same as the default and is here to demonstrate that if you have a content directory called "post" you can create a layouts directory, just for that section.
   */}}
<article class="row align-center page-content">
  <section class="small-12 medium-10 columns">
    {{ .Content }}
  </section>
</article>
{{ if .Params.show_posts }}
<div class="">
  {{ range .Paginator.Pages }}
  <div class="">
    {{/*
          Note we can use `.Render` here for items just in this section, instead of a partial to pull in items for the list page. https://gohugo.io/functions/render/
          */}}
    {{ .Render "summary" }}
  </div>
  {{ end }}
  </aside>
  {{ template "_internal/pagination.html" . }}
  </article>
  {{ end }}
  {{ end }}