<article class="bb b--black-10">
  <a class="db pv4 ph3 ph0-l no-underline dark-gray dim" href="{{ .URL }}">
    <div class="flex flex-column flex-row-ns">
      {{ with $.Page.Resources.GetMatch "featured_image" }}
      <figure>
        <img src="{{ .Permalink }}" class="img" alt="image from ">
      </figure>
      {{ end }}
      <div class="body-content w-100{{ if .Params.featured_image }} w-60-ns pl3-ns{{ end }}">
        <h1 class="f3 fw1 athelas mt0 lh-title">{{ .Title }}</h1>
        <p class="f6 f5-l lh-copy nested-copy-line-height">
          {{ .Summary }}
        </p>
        {{/* TODO: add author
        <p class="f6 lh-copy mv0">By {{ .Author }}</p> */}}
      </div>
    </div>
  </a>
</article>