.btn {
	color: #fff;
	display: inline-block;
  position: relative;
	padding: .25rem .75rem;
	border: 2px solid var(--dark);
	outline: 0;
	border: 0;
	text-decoration: none;
}

.btn--primary  {
	background-color: var(--primary-color);
	&:hover, &:focus, &:active {
		opacity: .8;
		color: #fff;
		text-decoration: none;
	}
}

.btn--secondary  {
	background-color: var(--secondary-color);
	&:hover, &:focus, &:active {
		opacity: .8;
		color: #fff;
		text-decoration: none;
	}
}

.btn--warning  {
	background-color: var(--warning-color);
	&:hover, &:focus, &:active {
		opacity: .8;
		color: #fff;
		text-decoration: none;
	}
}