<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ block "title" . }}{{ .Params.Title }} {{ with .Site.Title }} | {{ . }}{{ end }}{{ end }}</title>

  <meta name="viewport" content="width=device-width,minimum-scale=1">
  {{ hugo.Generator }}
  {{/* NOTE: For Production make sure you add `HUGO_ENV="production"` before your build command */}}
  {{ if eq (getenv "HUGO_ENV") "production" | or (eq .Site.Params.env "production")  }}
  <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
  {{ else }}
  <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
  {{ end }}

  {{ if .Site.Params.typekit }}
  <link rel="stylesheet" href="https://use.typekit.net/{{ .Site.Params.typekit }}.css">
  {{ end }}

  <link href="/css/styles.css" rel="stylesheet">
  {{ range .Site.Params.custom_css }}
  <link rel="stylesheet" href="{{ relURL ($.Site.BaseURL) }}{{ . }}">
  {{ end }}

  {{ if .Site.Params.fontawesome }}
  <script src="https://kit.fontawesome.com/{{ .Site.Params.fontawesome }}.js"></script>
  {{ end }}

  {{ block "favicon" . }}
  {{ partialCached "site-favicon.html" . }}
  {{ end }}

  {{/* NOTE: These Hugo Internal Templates can be found starting at https://github.com/spf13/hugo/blob/master/tpl/tplimpl/template_embedded.go#L158 */}}
  {{- template "_internal/opengraph.html" . -}}
  {{- template "_internal/google_news.html" . -}}
  {{- template "_internal/schema.html" . -}}
  {{- template "_internal/twitter_cards.html" . -}}

  {{ if eq (getenv "HUGO_ENV") "production" | or (eq .Site.Params.env "production")  }}
  {{ template "_internal/google_analytics_async.html" . }}
  {{ end }}
</head>

<body>
  {{ block "header" . }}{{ partial "site-header.html" .}}{{ end }}
  <main role="main">

    {{ $.Scratch.Set "offset" 0 }}

    <div class="page-blocks">
      {{- range .Params.blocks -}}
      {{- if eq .template "testimonial" -}}{{ partial "blocks/testimonial" (dict "Params" .) }}{{- end -}}
      {{- if eq .template "image" -}}{{ partial "blocks/image" (dict "Params" .) }}{{- end -}}
      {{- if eq .template "hero-section" -}}{{ partial "blocks/hero" (dict "Params" .) }}{{- end -}}
      {{- if eq .template "media-feature" -}}{{ partial "blocks/media-feature" (dict "Params" .) }}{{- end -}}
      {{- if eq .template "logos" -}}{{ partial "blocks/logos" (dict "Params" .) }}{{- end -}}
      {{- if eq .template "call-to-action" -}}{{ partial "blocks/cta" (dict "Params" .) }}{{- end -}}
      {{- if eq .template "body-copy" -}}{{ partial "blocks/body-copy" (dict "Params" .) }}{{- end -}}
      {{- if eq .template "3-columns" -}}{{ partial "blocks/3-columns" (dict "Params" .) }}{{- end -}}
      {{- if eq .template "2-columns" -}}{{ partial "blocks/2-columns" (dict "Params" .) }}{{- end -}}

      {{- if eq .template "case-study" -}}
      {{ $.Scratch.Add "offset" 1 }}
      {{ $i := $.Scratch.Get "offset" }}
      {{ if not (modBool $i 2) }}<div class="case-studies">{{- end -}}
        {{ partial "blocks/case-study" (dict "Params" .) }}
        {{ if modBool $i 2 }}</div>{{- end -}}
      {{- end -}}



      {{- end -}}
    </div>

    {{ block "main" . }}{{ end }}
  </main>
  {{ block "footer" . }}{{ partialCached "site-footer.html" . }}{{ end }}
  {{ block "scripts" . }}{{ partialCached "site-scripts.html" . }}{{ end }}
</body>

</html>