{{ define "main" }}
<!-- todo: layouts/_default/list.html -->
{{ if .Content }}
<div class="row align-center page-content">
  <section class="small-12 medium-10 columns">
    {{ markdownify .Content }}
  </section>
</div>
{{ end }}
{{ if .Params.show_posts }}
<div class="row index-content">
  <div class="small-12 columns">
    {{- partial "article-nav.html" . -}}
  </div>
  {{ range .Paginator.Pages }}
  <div class="small-12 medium-4 columns">
    {{- partial "summary.html" . -}}
  </div>
  {{ end }}
  {{- template "_internal/pagination.html" . -}}
</div>
{{ end }}
{{ end }}