{{ define "main" }}

<!--behold, the template in layouts/_default/single.html-->
{{ $section := .Site.GetPage "section" .Section }}
<section class="row align-center">
  <div class="small-12 medium-10 columns">
    {{- .Content -}}
  </div>
</section>
{{ end }}