{{ define "main" }}

{{- partial "article-nav.html" . -}}

<div class="center">
  <section class="flex-ns flex-wrap mt0">
    {{ range .Paginator.Pages }}
    <div class="relative w-100 w-50-l mb4 bg-white">
      {{- partial "summary.html" . -}}
    </div>
    {{ end }}
  </section>
</div>

{{- template "_internal/pagination.html" . -}}

{{ end }}