{{ $.Scratch.Add "labelClasses" "f6 b db mb1 mt3 sans-serif mid-gray" }}
{{ $.Scratch.Add "inputClasses" "w-100 f5 pv3 ph3 bg-light-gray bn" }}

<h3>Have a comment or question? Send us a note. It won't be shown here and email isn't required, unless you'd like a
    reply.</h3>

<input type="checkbox" id="show_form" role="button">
<label for="show_form" onclick="">
    <span>Send a note</span>
    <span>Close</span>
</label>

<form name="contact_article" action="/article-thanks/" class="black-80 sans-serif" accept-charset="UTF-8" netlify>

    <label class="{{ $.Scratch.Get "labelClasses" }}" for="message">Question/Comment</label>
    <textarea id="message" name="message" class="{{ $.Scratch.Get "inputClasses" }} h4" aria-labelledby="message"
        required></textarea>

    <label class="{{ $.Scratch.Get "labelClasses" }}" for="email">Email (if you'd like a reply)</label>
    <input type="email" id="email" name="email" class="{{ $.Scratch.Get "inputClasses" }}" placeholder=" "
        aria-labelledby="email" />

    <br /><br />
    <input class="db w-100 mv2 white pa3 bn hover-shadow hover-bg-blck bg-animate bg-black" type="submit"
        value="Send" />

</form>