<!-- TODO: /themes/anake/layouts/partials/page-header.html -->

{{ $featured_image := (.Resources.ByType "image").GetMatch "*featured*" }}
{{ if $featured_image }}
{{ with $featured_image }}
<header class="cover bg-center" style="background-image: url('{{ .RelPermalink }}');">
  <div class="bg-black-30">
    {{ partialCached "site-navigation.html" . }}
    {{ if not $.Params.omit_header_text }}
    <div class="tc-l pv6 ph3 ph4-ns">
      <div class="bg-black-60 pv2 w-70 center">
        <h1 class="f2 f1-l fw2 white-90 mb0 lh-title tisa-sans">{{ $.Params.Title | default $.Site.Title }}</h1>
        {{ with $.Params.description  }}
        <h2 class="fw3 f5 f3-l white-80 measure-wide-l center lh-copy mt3 mb3 tisa">
          {{ . }}
        </h2>
      </div>
      {{ end }}
    </div>
    {{ end }}
  </div>
</header>
{{ end }}
{{ else }}
<header>
  <div class="{{ .Site.Params.background_color_class | default "bg-white" }}">
    {{ partialCached "site-navigation.html" . }}
    {{ if not .Params.omit_header_text }}
    <div class="tc-l ph3 mt4 ph4-ns">
      <h1 class="f2 f1-l fw2 black-90 mb0 lh-title">{{ .Params.Title}}</h1>
      {{ with .Params.description  }}
      <h2 class="fw1 f5 f3-l black-80 measure-wide-l center lh-copy mt1 mb4">
        {{ . }}
      </h2>
      {{ end }}
    </div>
    {{ end }}
  </div>
</header>
{{ end }}