<header>
  <div class="row">
    <nav class="hide-for-large">
      <div class="small-9 columns">
        <a href="/" id="logo">
          <img alt="home" src="">
        </a>
      </div>
      <div id="nav-icon" class="small-3 columns ">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </div>
      <ul class="menu">
        {{ range .Site.Menus.main }}
        <li class="">
          <a class="" href="{{ .URL }}" title="{{ .Name }} page">
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
    </nav>
  </div>

  <div class="row align-center">
    <div class="large-10 columns">
      <nav id="primary-nav" role="navigation" class="show-for-large">
        <ul class="menu show-for-large">
          <li><a href="/" id="logo">
              <img alt="home" src="">
            </a>
          </li>
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
          <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
            <a href="#">
              {{ .Pre }}
              <span>{{ .Name }}</span>
            </a>
          </li>
          <ul class="sub-menu">
            {{ range .Children }}
            <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
              <a href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
          {{ else }}
          <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
            <a href="{{ .URL }}">
              {{ .Pre }}
              <span>{{ .Name }}</span>
            </a>
          </li>
          {{ end }}
          {{ end }}
        </ul>
      </nav>
    </div>
  </div>
</header>