<div class="relative w-100 mb4 bg-white nested-copy-line-height">
  <div class="bg-white mb3 pa4 gray overflow-hidden">
    {{ range .Params.tags }}
    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="tisa-sans f6 link dim br3 mb2 dib ttu fw6 blue ">
      {{- . -}}
    </a>
    {{ end }}
    <a class="link" href="{{ .URL }}">
      {{ $img := (.Resources.ByType "image").GetMatch "*featured*" }}
      {{ with $img }}
      <h1
        class="tisa-sans lh-title f2 fw1 mb3 near-black bg-white-80 hover-bg-white-90 bg-animate absolute pl3 pr5 pb2 ">
        {{ $.Page.Title }}
      </h1>

      {{ $smallw := default "800x" }}
      {{ $largew := default "1500x" }}

      {{/* resize the src image to the given sizes */}}

      {{ $small := ($img.Resize $smallw) }}
      {{ $large := ($img.Resize $largew) }}
      <figure>
        <img src="{{ $small.RelPermalink }}" srcset="{{ $small.RelPermalink }} 1x, {{ $large.RelPermalink }} 2x"
          sizes="(min-width: 1570px) 822px, (max-width: 1569px) and (min-width: 960px) 50vw, 93vw" width="{{ .Width }}"
          alt="{{ $img.Title }}" width="{{ .Width }}">
      </figure>
      {{ else }}
      <h1 class="tisa-sans lh-title f2 fw1 mb3 near-black bg-white pl0 pr5 pb2 link">
        {{ .Title }}
      </h1>
      {{ end }}
    </a>
    <div class="nested-links f5 body-content lh-copy nested-copy-line-height mt2">
      {{ .Description }}
    </div>
  </div>
</div>