<article class="w-100 w-50">
  <div class="db pv4 ph3 ph0-l no-underline dark-gray">
    <div class="flex flex-column items-top flex-row-l">
      {{ $img := (.Resources.ByType "image").GetMatch "*featured*" }}
      {{ with $img }}
      <div class="pr3-ns mb4 mb0-ns w-100-ns w-90-m w-40-l">
        <a class="db dim mt2" href="{{ $.URL }}">

          {{ $tinyw := default "300x"}}
          {{ $smallw := default "800x" }}
          {{ $largew := default "1500x" }}

          {{/* resize the src image to the given sizes */}}

          {{ $tiny := ($img.Resize $tinyw) }}
          {{ $small := ($img.Resize $smallw) }}
          {{ $large := ($img.Resize $largew) }}
          <figure class="mr3">
            <img src="{{ $tiny.RelPermalink }}" width="{{ .Width }}" alt="{{ $img.Title }}" width="{{ .Width }}">
          </figure>
        </a>
      </div>
      {{ end }}
      <div class="body-content w-100{{ if $img }} w-100-m w-60-l pl3-ns{{ end }}">
        {{ range .Params.tags }}
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="tisa-sans f6 link dim br3 mb2 dib ttu fw6 blue ">
          {{- . -}}
        </a>
        {{ end }}
        <h2 class="tisa-sans fw1 f2-l athelas mt0 mb3 lh-title">
          <a href="{{.URL}}" class="color-inherit dim link">
            {{ .Title }}
          </a>
        </h2>
        <p class="f6 f5-l lh-copy nested-copy-line-height nested-links">
          {{ .Description }}
        </p>
        {{/* TODO: add author
        <p class="f6 lh-copy mv0">By {{ .Author }}</p> */}}
      </div>
    </div>
  </div>
</article>