<ul class="pa0 list">
  {{ range .Params.tags }}
  <li class="dib mr2">
    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"
      class="tisa-sans f6 link dim br3 ph3 pv2 mb2 dib ttu fw6 near-black bg-light-gray">
      {{- . -}}
    </a>
  </li>
  {{ end }}
</ul>