{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
    <article class="center cf pv5 measure-wide-l">
      <h1>That page isn't here anymore.</h1>
      <p>We redesigned this site recently, and the page you requested isn't here anymore. Try using the navigation at the top.</p>
    </article>
{{ end }}
