{{ define "main" }}
<div class="row align-center page-content">
  <div class="small-12 medium-10 columns">
    {{ .Content }}
  </div>
</div>

{{if .Params.show_posts }}
{{/* Define a section to pull recent posts from. For Hugo 0.20 this will default to the section with the most number of pages. */}}
{{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
{{/* Create a variable with that section to use in multiple places. */}}
{{ $section := where .Site.RegularPages "Section" "in" $mainSections }}
{{/* Check to see if the section is defined for ranging through it */}}
{{ $section_count := len $section }}
{{ if ge $section_count 1 }}
{{/* Derive the section name  */}}
{{ $section_name := index (.Site.Params.mainSections) 0 }}

<div class="pa3 pa4-ns w-100-m w-80-l center">
  {{/* Use $section_name to get the section title. Use "with" to only show it if it exists */}}
  {{ with .Site.GetPage "section" $section_name }}
  <h1 class="flex-none tisa-sans fw1 f1-l">
    {{ $.Param "recent_copy" | default (i18n "recentTitle" .) }}
  </h1>
  {{ end }}

  <section class="w-100 mw8-l mw9-m">
    {{ range where $section "Params.highlight" true }}
    <div class="relative w-100 mb4">
      {{ partial "summary-with-image.html" . }}
    </div>
    {{ end }}
  </section>

</div>
{{ end }}
{{ end }}
{{ end }}