<section class="section 2-columns">
    <div class="row">
        <div class="small-12 medium-6 columns">
            {{- with .Params.heading1 -}}
            <h2 class="">{{ markdownify . }}</h2>
            {{- end -}}
            {{- with .Params.content1 -}}
            <div class="">
                {{ . | markdownify }}
            </div>
            {{- end -}}
        </div>

        <div class="small-12 medium-6 columns">
            {{- with .Params.heading2 -}}
            <h2 class="">{{ markdownify . }}</h2>
            {{- end -}}
            {{- with .Params.content2 -}}
            <div class="">
                {{ . | markdownify }}
            </div>
            {{- end -}}
        </div>
    </div>
</section>