<section class="section 3-columns">
    <div class="row">
        <div class="small-12 medium-4 columns">
            {{- with .Params.heading1 -}}
            <h2 class="">{{ markdownify . }}</h2>
            {{- end -}}
            {{- with .Params.content1 -}}
            <div class="">
                {{ markdownify . }}
            </div>
            {{- end -}}
        </div>
        <div class="small-12 medium-4 columns">
            {{- with .Params.heading2 -}}
            <h2 class="">{{ markdownify . }}</h2>
            {{- end -}}
            {{- with .Params.content2 -}}
            <div class="">
                {{ markdownify . }}
            </div>
            {{- end -}}
        </div>
        <div class="small-12 medium-4 columns">
            {{- with .Params.heading3 -}}
            <h2 class="">{{ markdownify . }}</h2>
            {{- end -}}
            {{- with .Params.content3 -}}
            <div class="">
                {{ markdownify . }}
            </div>
            {{- end -}}
        </div>
    </div>
</section>