<section class="section content-section ">
  <div class="row align-center">
    <div class="body-content small-12 medium-10 columns">
      {{ markdownify .Params.content }}
    </div>
  </div>
</section>