<a href="{{ .Params.link_url }}" class="case-study-block" {{- with .Params.background_image -}}
  {{ safeHTMLAttr (printf "style=%q" (printf "background-image: url(%s)" (relURL .) )) }} {{- end -}}>
  <div class="overlay {{ partial "blocks/meta/background-style" .Params.background_style }}">
  </div>
  <div class="project-info">
    {{- with .Params.name -}}
    <h3 class="project-info_title">{{ . }}</h3>
    {{- end -}}
    {{- with .Params.description -}}
    <p class="project-info_copy">{{ . }}</p>
    {{- end -}}
  </div>
  <div class="case-study-info">
    {{- with .Params.headline -}}
    <h3 class="case-study-info_title">{{ . }}</h3>
    {{- end -}}
    {{- with .Params.cta_text -}}
    <p class="case-study-info_copy">{{ . }}</p>
    {{- end -}}
  </div>
</a>