<section class="section cta {{ partial "blocks/meta/background-style" .Params.background_style }}">
    <div class="row align-center">
        <div class="small-12 medium-10 columns">
            {{- with .Params.heading -}}
            <h2 class="f2 fw1 tisa-sans mb3">{{ markdownify . }}</h2><br />
            {{- end -}}
            {{ with .Params.subheading}}
            <h3 class="f3 fw1 tisa-sans">{{ markdownify . }}</h3><br />
            {{ end }}
            {{- with .Params.content -}}
            <div class="body-content tisa">
                {{ markdownify . }}
            </div>
            {{- end -}}
        </div>
        <div class="small-12 medium-10 columns">
            <a class="btn btn--primary" href="{{ .Params.button_url }}">{{ .Params.button_text }}</a>
        </div>
    </div>
</section>