<section
  class="hero {{ if and .Params.size (eq .Params.size "Big") }}is-medium {{end }}is-bold {{ partial "blocks/meta/background-style" .Params.background_style }}"
  {{- with .Params.background_image -}}
  {{ safeHTMLAttr (printf "style=%q" (printf "background-image: url(%s)" (relURL .) )) }} {{- end -}}>
  <div class="row align-center hero-body">
    <div class="small-12 medium-10 columns">
      {{- with .Params.heading -}}<h1 class="">{{ markdownify . }}
      </h1>{{- end -}}
      {{- with .Params.subheading -}}<h2 class="">{{ markdownify . }}</h2>{{- end -}}
    </div>
    <div class="small-12 medium-10 columns">
      {{- if and .Params.button_url .Params.button_text -}}
      <a class="btn btn--primary" href="{{ .Params.button_url }}">{{ .Params.button_text }}</a>
      {{- end -}}
    </div>
  </div>
</section>