<section class="image section {{ partial "blocks/meta/background-style" .Params.background_style }}">
  <div
    class="{{ if .Params.image_shadow }}media-feature__image--shadow{{ end }}{{ if .Params.bleed }} full-bleed{{ end }}">
    <img src="{{ relURL .Params.image }}" />
  </div>
</section>