<section class="logos section flex {{ partial "blocks/meta/background-style" .Params.background_style }}">
  <div class="row align-center">
    {{ range sort site.Data.clients "priority"}}
    <div class="items-center justify-center logo small-12 medium-6 large-4 columns">
      <!--<p>{{ .name }}: {{ .priority }}</p>-->
      <img class="{{ partial "blocks/meta/image-size" .size }} greyscale pointer" src=" {{ .image }}"
        title="{{ .name }}" alt="{{ .name }}">
    </div>
    {{ end }}
</section>