<section class="testimonial section {{ partial "blocks/meta/background-style" .Params.background_style }}
{{- with .Params.image_position -}}
    {{- if eq "Left" . }} media-feature--image-left{{- end -}}
    {{- if eq "Right" . }} media-feature--image-right{{- end -}}
    {{- if eq "Top" . }} media-feature--image-top{{- end -}}
    {{- if eq "Bottom" . }} media-feature--image-bottom{{- end -}}
{{- end -}}">
  <div class="row">
    {{ if .Params.quotes }}<div class="quotes"></div>{{ end }}
    {{- with .Params.image -}}
    <div class="column small-12 medium-4 columns media-feature__image testimonial_image ">
      <img src="{{ relURL . }}" />
    </div>
    {{- end -}}
    <div class="column media-feature__content">
      {{- with .Params.copy -}}
      <h2 class="fw1 f5 f2-l lh-title mt3 mb4 tisa-sans ">{{ markdownify . }}</h2>
      {{- end -}}
      {{- with .Params.attribution -}}
      <h5 class="fw1 f5 f5-l lh-title mt3 mb0 tisa fw2 tr ">{{ markdownify . }}</h5>
      {{- end -}}
      {{- with .Params.organization -}}
      <h5 class="fw1 f5 f5-l lh-title mt0 mb0 tisa fw2 tr">{{ markdownify . }}</h5>
      {{- end -}}
    </div>
  </div>
</section>