.bg-brand {
  background-color: var(--primary-color);
}

section {
  padding: 4rem 0;
}

.section.\33 -columns {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.section.testimonial {
  padding-top: 0;
  padding-bottom: 0;
}

.testimonial_image {
    padding: 0;
    display: flex;
    align-items: center;
}

.quotes:before {
  color: #fff;
  content: "“";
  top: 0px;
  left: -40px;
  width: 50px;
  height: 50px;
  padding-top: 8px;
  line-height: 1;
  position: absolute;
  font-family: "ff-tisa-web-pro", serif;
  font-size: 10.375rem;
  text-align: center;
  opacity: .6;
}

.testimonial.has-background-light .quotes:before {
  color: #111
}

a {
  color: var(--primary-color);
  text-decoration: underline;
}

a:hover {
  color: var(--primary-color);
}

.bg-dark-blue {
  background-color: var(--primary-color);
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
    opacity: .85;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .85;
    transition: opacity .15s ease-out;
}

.is-dark.has-background-dark {
  background-color: var(--dark) !important;
}


.has-text-light h1, .has-text-light h2, .has-text-light h3, .has-text-light h4, .has-text-light h5, .has-text-light h6, .has-text-light p, .has-text-light div {
  color: #f7f7f7 !important;
}

.has-text-dark h1, .has-text-dark h2, .has-text-dark h3, .has-text-dark h4,  .has-text-dark h5, .has-text-dark h6, .has-text-dark p,.has-text-dark div {
  color: var(--dark) !important;
}

.is-primary.has-background-primary {
  background-color: var(--primary-color) !important;
  .btn--primary {
    background: #fff;
    color: var(--primary-color);
    &:hover {
      background: #363636
    }
  }
}

.is-primary.has-background-primary a {
  color: #fff;
}

.is-primary.has-background-primary a:hover {
  color: var(--primary-color);
}

.is-primary.has-background-primary .btn.btn--primary:hover {
    color: #fff;
}

.is-dark.has-background-dark a:hover {
  color: #fff;
}

.is-primary.is-light.has-background-light {
  background-color: #fff;
}

.hero.is-bold.is-light.has-background-light {
  background-color: #fff;
  background-image: none;
}

.has-background-light {
  background-color: #fff !important;
}

.hero.is-primary.has-background-primary.is-primary {
  background-color: var(--primary-color);
}

.hero.is-light a:not(.btn):not(.dropdown-item):not(.tag), .hero.is-light strong {
  color: var(--link-color);
}

.hero.is-light a:not(.btn):not(.dropdown-item):not(.tag):hover{
  color: #363636;
}

.hero.is-light a.btn {
  color: #fff !important;
}

.testimonial .columns {
  margin: 0 !important;
}

.image.section {
  padding: 0;
  overflow: hidden;
}

.image.section div {
  margin: 0 auto;
  max-width: 65rem;
}

.image.section div.full-bleed {
  width: 100vw;
  margin: 0 auto 0 50%;
  transform: translateX(-50%);
  max-width: none;
  overflow: hidden;
}

.image.section div.full-bleed img {
  width: 100%;
}

.case-studies {
  display: flex;
  flex-wrap: wrap;
}

.case-study-block {
  flex: 1 0 100%;
  height: 65vw;
  position: relative;
  background-position: center bottom;
  background-size: cover;
}
@media (min-width: 720px) {
  .case-study-block {
    flex: 1 0 50%;
    height: 35vw;
  }
}
.case-study-block .overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .75);
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  transition: all .25s ease-in-out;
}
.case-study-block:hover .overlay {
  opacity: .85;
  visibility: visible;
}

.case-study-block:hover .project-info {
  opacity: 0;
  visibility: hidden;
}

.case-study-block .overlay.is-dark.has-text-light ~ .case-study-info {
  color: #fff !important;
}

.case-study-block .overlay.is-dark.has-text-light ~ .case-study-info {
  color: #fff !important;
}

.case-study-block:hover .overlay.is-light.has-text-dark ~ .project-info {
  color: #111 !important;
}

.case-study-block .overlay.is-primary.has-background-primary.has-text-light {
  color: #fff !important;
}

.case-study-block:hover .overlay.is-primary.has-background-primary.has-text-light ~ .case-study-info {
  color: #fff !important;
}

.case-study-block .project-info {
  color: #fff !important;
  flex: 1 0 auto;
  display: inline-block;
  position: absolute;
  z-index: 30;
  left: 0;
  padding: 10px 1rem;
  background: rgba(0, 0, 0, .7);
  width: 100%;
}

.case-study-block:hover .project-info {
  background: transparent;
}

.case-study-block .case-study-info {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  width: 75%;
  opacity: 0;
  visibility: hidden;
  z-index: 20;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: left;
  padding: 0 0 0 3rem;
  transform: translateX(-10px);
  transition: transform .25s ease-in-out;
}
.case-study-block:hover .case-study-info {
  opacity: 1;
  visibility: visible;
  transform: translateX(0px);
}

section.body-content {
  padding: 2rem 0;
}

.project-info_title {
  color: inherit !important;
}

.project-info_copy {
  color: inherit !important;
}

.case-study-info_title {
  color: inherit !important;
}

.case-study-info_copy {
  color: inherit !important;
}

.section {
  padding: 2rem .5rem
}

.page-blocks > .section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 720px) {
  .section {
    padding: 3rem 1.5rem
  }
  .page-blocks > .section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.media-feature--image-right .row {
    flex-direction: row-reverse;
}

.media-feature_content-title {
  color: inherit !important;
}

.media-feature_content-subtitle {
  color: inherit !important;
}

.media-feature_content-copy {
  color: inherit !important;
}

blockquote:first-of-type {
  border: 0;
  margin: 0;
  padding: 0;
}

blockquote blockquote {
  display: block;
  font-size: 1.25em;
  border: 0;
  margin: 0;
  padding: 0;
}

blockquote blockquote p {
  font-size: 1.5rem;
  font-family: ff-tisa-sans-web-pro, sans-serif;
  font-weight: 300;
  color: #111;
}