{{ $.Scratch.Add "labelClasses" "f6 b db mb1 mt3 sans-serif mid-gray" }}
{{ $.Scratch.Add "inputClasses" "w-100 f5 pv3 ph3 bg-light-gray bn" }}

<form name="contact_business" action="/contact/business-thanks/" class="black-80 sans-serif" accept-charset="UTF-8" netlify>

    <label class="{{ $.Scratch.Get "labelClasses" }}"  for="name">Your name</label>
    <input type="text" id="name" name="name" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder=" "  aria-labelledby="name"/>

    <label class="{{ $.Scratch.Get "labelClasses" }}" for="email">Email address</label>
    <input type="email" id="email" name="email" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder=" "  aria-labelledby="email"/>
<!-- 
    <div class="requirements f6 gray glow i ph3 overflow-hidden">
      An email address is required.
    </div>
-->

<label class="{{ $.Scratch.Get "labelClasses" }}" for="phone">Phone</label>
<input type="phone" id="phone" name="phone" class="{{ $.Scratch.Get "inputClasses" }}" placeholder=" "  aria-labelledby="phone"/>


    <label class="{{ $.Scratch.Get "labelClasses" }}" for="project">Tell us a bit about your project</label>
    <textarea id="project" name="project" class="{{ $.Scratch.Get "inputClasses" }} h4" aria-labelledby="project"></textarea>



    <label class="{{ $.Scratch.Get "labelClasses" }}" for="budget">What's your budget range?</label>
    <select name="budget">
        <option value=""></option>
        <option value="large">It's a larger project with multiple phases</option>
        <option value="50-85">50,000 to 85,000</option>
        <option value="30-50">30,000 to 50,000</option>
        <option value="15-30">15,000 to 30,000</option>
        <option value="small">It's a small project—can we chat anyway?</option>
    </select>
    

    <label class="{{ $.Scratch.Get "labelClasses" }}" for="timeline">When do you need to launch?</label>

    <select name="timeline">
            <option value=""></option>
            <option value="rush">It's a rush! Within two months!</option>
            <option value="3-6">Within three to six months</option>
            <option value="6-9">Within six to nine months</option>
            <option value="long">It's a big project: let's talk about phases</option>
    </select>

    <br /><br />
    <input class="db w-100 mv2 white pa3 bn hover-shadow hover-bg-blck bg-animate bg-black" type="submit" value="Send" />

</form>
