{{ $.Scratch.Add "labelClasses" "f6 b db mb1 mt3 sans-serif mid-gray" }}
{{ $.Scratch.Add "inputClasses" "w-100 f5 pv3 ph3 bg-light-gray bn" }}

<form name="contact_vendor" action="/contact/vendor-thanks/" class="black-80 sans-serif" accept-charset="UTF-8" netlify>

    <label class="{{ $.Scratch.Get "labelClasses" }}"  for="name">Your name</label>
    <input type="text" id="name" name="name" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder=" "  aria-labelledby="name"/>

    <label class="{{ $.Scratch.Get "labelClasses" }}" for="email">Email address</label>
    <input type="email" id="email" name="email" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder=" "  aria-labelledby="email"/>
<!-- 
    <div class="requirements f6 gray glow i ph3 overflow-hidden">
      An email address is required.
    </div>
-->

    <label class="{{ $.Scratch.Get "labelClasses" }}" for="project">Tell us about your product or service</label>
    <textarea id="project" name="project" class="{{ $.Scratch.Get "inputClasses" }} h4" aria-labelledby="project"></textarea>




    <br /><br />
    <input class="db w-100 mv2 white pa3 bn hover-shadow hover-bg-blck bg-animate bg-black" type="submit" value="Send" />

</form>
